<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Mes appareils</h2>
  <div class="mb-5 text-center">
    <a class="btn btn-outline-secondary"
       type="button"
       routerLink="/appareils/new-appareil"> Ajouter un nouvel appareil</a>
  </div>

  <p class="mb-4 text-center">
    Nous sommes le {{ lastUpdate | date: 'dd/M/y' }}. Temps passé sur cette page : {{ seconds }} secondes.
  </p>
  <ul class="list-group">
    <app-appareil-view *ngFor="let appareil of appareils; let i = index"
                       [appareilName]="appareil.name"
                       [appareilStatus]="appareil.status"
                       [index]="i"
                       [id]="appareil.id"></app-appareil-view>
  </ul>
  <div class="text-center mb-5" *ngIf="isAuth">
    <button class="btn btn-success mt-5 mr-2"
            (click)="onToutAllumer()">Tout allumer</button>
    <button class="btn btn-danger mt-5 mr-2"
            (click)="onToutEteindre()">Tout éteindre</button>
  </div>

</div>
