<style>
  h2,
  a {
    color: grey
  }

  a:hover,
  h2:hover {
    text-decoration: none;
    text-shadow: 1px 1px #000000;
  }

  @media (max-width: 375px) {

    h1,
    h2 {
      font-size: 1rem;
    }
  }

</style>
<div class="col-sm-12 col-lg-12">
  <h1 class="mb-5 text-center">Liste des applications</h1>
  <ul class="list-group" *ngIf="!isAuth">
    <li class="list-group-item list-group-item-primary">
      <h2 class="text-center"><a routerLink="/appareils">Appareils</a></h2>
    </li>
    <li class="list-group-item list-group-item-success">
      <h2 class="text-center"><a routerLink="/posts">Posts</a></h2>
    </li>
    <li class="list-group-item list-group-item-warning">
      <h2 class="text-center"><a routerLink="/books">Livres</a></h2>
    </li>
    <li class="list-group-item list-group-item-info">
      <h2 class="text-center"><a routerLink="/users">Personnages</a></h2>
    </li>
    <li class="list-group-item list-group-item-danger">
      <h2 class="text-center"><a routerLink="/auth/sign-in">Connexion</a></h2>
    </li>
    <li class="list-group-item list-group-item-secondary">
      <h2 class="text-center"><a routerLink="/auth/sign-up">Inscription</a></h2>
    </li>
  </ul>
  <ul class="list-group" *ngIf="isAuth">
    <li class="list-group-item list-group-item-primary">
      <h2 class="text-center"><a routerLink="/appareils">Liste des appareils</a></h2>
    </li>
    <li class="list-group-item list-group-item-primary">
      <h2 class="text-center"><a routerLink="/appareils/new-appareil">Ajout d'un nouvel appareil</a></h2>
    </li>
    <li class="list-group-item list-group-item-success">
      <h2 class="text-center"><a routerLink="/posts">Liste des posts</a></h2>
    </li>
    <li class="list-group-item list-group-item-success">
      <h2 class="text-center"><a routerLink="/posts/new-post">Ajout d'un nouveau post</a></h2>
    </li>
    <li class="list-group-item list-group-item-warning">
      <h2 class="text-center"><a routerLink="/books">Liste des livres</a></h2>
    </li>
    <li class="list-group-item list-group-item-warning">
      <h2 class="text-center"><a routerLink="/books/new-book">Ajout d'un nouveau livre</a></h2>
    </li>
    <li class="list-group-item list-group-item-info">
      <h2 class="text-center"><a routerLink="/users">Liste des personnages</a></h2>
    </li>
    <li class="list-group-item list-group-item-info">
      <h2 class="text-center"><a routerLink="/users/new-user">Ajout d'un nouveau personnage</a></h2>
    </li>
    <li class="list-group-item list-group-item-danger">
      <h2 class="text-center" (click)="onSignOut()" style="cursor: pointer;">Déconnexion</h2>
    </li>
  </ul>
</div>
