<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Nouveau personnage</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input type="text" id="firstName" class="form-control" formControlName="fN">
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" id="lastName" class="form-control" formControlName="lN">
    </div>
    <div class="form-group">
      <label for="email">Adresse d'email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="job">Métier préféré</label>
      <select id="job" class="form-control" formControlName="job">
        <option value="Magicien">Magicien</option>
        <option value="Mercenaire">Mercenaire</option>
        <option value="Assassin">Assassin</option>
        <option value="Guérisseur">Guérisseur</option>
        <option value="Développeur">Développeur</option>
        <option value="Rêveur">Rêveur</option>
        <option value="Voleur">Voleur</option>
        <option value="Séducteur">Séducteur</option>
      </select>
    </div>
    <div formArrayName="hobbies">
      <h4>Les loisirs préférés</h4>
      <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i=index">
        <div class="input-group">
          <input type="text" class="form-control" [formControlName]="i">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary" (click)=" onRemoveHobby(i)"><i
                 class="fa fa-times"></i></button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onAddHobby()">Ajouter un loisir</button>

    </div>
    <div class="text-center">
      <button class="btn btn-secondary mt-5"
              type="submit"
              [disabled]="userForm.invalid">Ajouter</button>
    </div>
  </form>
  <div class="text-center"> <a class="btn btn-secondary mt-5"
       type="button"
       routerLink="/users">Retourner à la liste des personnages</a></div>
</div>
