<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Inscription</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
    <div class="form-group">
      <label for="email">Adresse d'email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    <div class="text-center">
      <button class="btn btn-secondary mt-5"
              type="submit"
              [disabled]="signUpForm.invalid">S'inscrire</button>
    </div>
  </form>
  <div class="text-danger text-center mt-4">{{ errorMessage }}</div>
</div>
