<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Nouveau livre</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="text" id="author" class="form-control" formControlName="author">
    </div>
    <div class="form-group">
      <label for="photo">Couverture du livre<em> (max : 100 KB)</em></label>
      <input type="file"
             id="photo"
             class="form-control-file"
             (change)="detectFile($event)"
             accept="image/*">
    </div>
    <p class="text-success mb-3 mt-3" *ngIf="fileUploaded">Image chargée !</p>
    <p class="text-success mb-3 mt-3" *ngIf="fileTooBig">Image trop lourde !</p>
    <div class="text-center">
      <button class="btn btn-secondary mt-5"
              type="submit"
              [disabled]="bookForm.invalid || fileIsUploading">Ajouter</button>
    </div>
  </form>
</div>
