<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Nouveau livre</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="text" id="author" class="form-control" formControlName="author">
    </div>
    <div class="text-center">
      <button class="btn btn-primary mt-5"
              type="submit"
              [disabled]="bookForm.invalid">Ajouter</button>
    </div>
  </form>
</div>
