<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  nav {
    background-color: #233140;
    font-weight: 600;
  }

</style>

<nav class="navbar navbar-expand-lg navbar-dark mb-5">
  <a class="navbar-brand" href="https://ttvo.fr" target="_blank">
    <img width="40" alt="Logo Trinh" src="/assets/img/logo192.png" />
  </a>
  <a class="navbar-brand" routerLink="auth">ANGULAR APPLICATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDropdown"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDropdown">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Appareils
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/appareils">Liste</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/appareil/add">New Appareil</a>
        </div>

      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/posts">Posts</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth">Authentification</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>
