<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Connexion</h2>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
    <div class="form-group">
      <label for="email">Adresse d'email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" class="form-control" formControlName="password">
    </div>
    <div class="text-center">
      <button class="btn btn-primary mt-5"
              type="submit"
              [disabled]="signInForm.invalid">Se Connecter</button>
    </div>
  </form>
  <div class="text-danger text-center mt-4">{{ errorMessage }}</div>
  <div class="text-center mt-4">
    <a routerLink="/auth/sign-up">Pas encore de compte d'utilisateur</a>
  </div>
</div>
