<div class="col-xs-12 col-lg-12">
  <h2 class="mb-5 text-center">Modification du livre <span style="font-weight: 700;">{{ book.title }}</span></h2>
  <form [formGroup]="bookFormUpdate" (ngSubmit)="onUpdateBook()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="text" id="author" class="form-control" formControlName="author">
    </div>
    <div class="form-group">
      <label for="photo">Couverture du livre</label>
      <input type="file"
             id="photo"
             class="form-control-file"
             (change)="detectFile($event)"
             accept="image/*">
    </div>
    <p class="text-success mb-3 mt-3" *ngIf="fileUploaded">Image chargée !</p>
    <div class="text-center">
      <button class="btn btn-secondary mt-5"
              type="submit"
              [disabled]="bookFormUpdate.invalid || fileIsUploading">Modifier</button>
    </div>
  </form>
</div>
