<li [ngClass]="{'list-group-item':true,
                'list-group-item-primary': appareilStatus === 'allumé',
                'list-group-item-dark': appareilStatus === 'éteint'}">

  <h4 [ngStyle]="{color: getColor()}">
    Appareil : {{ appareilName }} - Statut : {{ appareilStatus }}
  </h4>

  <div>
    <a [routerLink]="[id]" class="mt-2 btn btn-sm btn-secondary" type="button">Détail</a>
    <button class="btn btn-outline-danger btn-sm mt-2 ml-2"
            (click)="onDelete()"
            *ngIf="isAuth">Supprimer</button>
    <button class="btn btn-outline-primary btn-sm mt-2 pull-right"
            *ngIf="isAuth && appareilStatus === 'éteint'"
            (click)="onSwitch()">Allumer</button>
    <button class="btn btn-outline-dark btn-sm mt-2 pull-right"
            *ngIf="isAuth && appareilStatus === 'allumé'"
            (click)="onSwitch()">Eteindre</button>
  </div>


</li>
